[Unit]
Description=Garage Door Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/app.py
#StandardInput=tty-force
Restart=always
#ExecStartPre=/bin/sleep 5
RestartSec=5

[Install]
WantedBy=multi-user.target